<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Factura</title>
</head>
<body>
    <h1>Factura a nombre de <i>{{nombre}}</i></h1>
    <pre>
        CIF: {{cif}}
        Direccion: {{direccion}}
        Provincia: {{provincia}}
        Código Postal: {{codigopostal}}
        País: {{pais}}
        Persona de contacto: {{personadecontacto}}
        Email: {{email}}
        Teléfono: {{telefono}}
    </pre>
    <pre> {{linea}}</pre>
    <pre>
        Importe bruto: {{importebruto}}
        Importe total: {{importetotal}}
        Fecha: {{fecha}}
    </pre>
</body>
</html>